[submodule "wiki"]
	path = wiki
	url = git@github.com:andypotanin/wp-resizely.wiki.git
[submodule "vendor/resizely-jquery"]
	path = vendor/resizely-jquery
	url = git@github.com:UsabilityDynamics/resizely-jquery.git
